<ul>
<li><%= @user.name %>, <%= @user.email %></li><br>
<li><%= @user.created_at %></li><br>
<li><%= @user.updated_at %></li><br>
<li><%= Time.now %></li><br>
</ul>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
